div#carousel {
    // border: 2px solid orange;
    position: absolute;
    right: 0;
    width: 60%;

    & div.embed-internal-carousel {
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 1rem;
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            background: $color-white;
        }

        & div {
            display: flex;

            p {
                display: inline-block;

                &:not(:last-child) {
                    padding-right: 1.8rem;
                }

                img {
                    width: 45rem;
                    height: 60rem;
                    object-fit: cover;
                }
            }
        }
    }

    & a {
        font-family: $font-thin;
        font-size: 2.9rem;
        line-height: 2.9rem;
        text-decoration: none;
        transition: 0.1s;

        &:hover, &:focus {
            letter-spacing: 1.5px;
        }
    }
}

@media only screen and (max-width: 76.8rem) {
    div#carousel {
        width: 45%;
    }
}

@media only screen and (max-width: 41.1rem) {
    div#carousel {
        position: static;
        width: 100%;
        margin-top: 1.8rem;

        & div.embed-internal-carousel {
            & div {
                flex-direction: column;
                
                p {
                    padding-right: 0;
                    padding-bottom: 0.9rem;
    
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
