div#carousel {
    border: 2px solid orange;

    & div.embed-internal-carousel {
        width: 50%;
        margin: 0;
        padding: 0;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 1rem;
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            background: $color-white;
        }

        & div {
            display: flex;

            p {
                display: inline-block;

                &:not(:last-child) {
                    padding-right: 1.8rem;
                }

                img {
                    width: 45rem;
                    height: 60rem;
                    object-fit: cover;
                }
            }
        }
    }

    & a {
        font-family: $font-thin;
        font-size: 2.9rem;
        line-height: 2.9rem;
        text-decoration: none;
        transition: 0.1s;

        &:hover, &:focus {
            letter-spacing: 1.5px;
        }
    }
}
