.sq {
    &-container {
    }
    
    &-table {
        &-body {
            &-selectwrapper {
                position: relative;
                border: 1px solid currentColor;
                &:after {
                    content: url("./svg/arrow-down-blue.svg");
                    position: absolute;
                    top: 50%;
                    right: 3.5rem;
                    // background: red;
                    height: 3.5rem;
                    width: 3.5rem;
                    transform: translateY(-50%);
                }
                &-select {
                    appearance: none;
                    height: calc(6rem - 1px); // pixel perfect hack
                    padding: 1rem 8rem 1rem 4rem; 
                    line-height: 4rem;
                    width: 100%;
                }
            }
        }
    }

    &-form {
        border-top: 1px solid currentColor;
    }
}