// .starburst {   
//     position: relative;
//     margin: -7.5rem -1rem !important;
//     min-width: 0 !important;
//     height: 10rem;
//     width: 10rem;
//     z-index: 2;
//     cursor: pointer;
    
//     &-unclicked {
//         color: $color-blue;

//         & .starburst-spin {
//             background: $color-pink;
//         }
//     }

//     &-clicked {
//         display: none;

//         & .starburst-spin {
//             background: $color-blue;
//         }
//     }

//     &-spin {
//         position: absolute;
//         display: block;
//         width: 100%;
//         height: 100%;
//         z-index: 2;
//         animation: spin 5s linear infinite;
        
//         &:before, &:after {
//             content: "";
//             position: absolute;
//             display: block;
//             background: inherit;
//             width: 100%;
//             height: 100%;
//         }
        
//         &:before {
//             transform: rotate(30deg);
//         }
    
//         &:after {
//             transform: rotate(60deg);
//         }
//     }

//     &:hover .starburst-spin {
//         transform: scale(2);
//     }

//     &-text {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: rotate(-15deg) translate(-33%, -66%);
//         width: auto !important;
//         min-width: 0 !important;
//         line-height: 1;
//         font-weight: $weight-bold;
//         text-align: center;
//         z-index: 3;
//         @include bfv;
//     }
// }

// @media only screen and (max-width: 41.1rem) {
//     .starburst {
//         margin: 0 auto !important;
//     }
// }

// @keyframes spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }