*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%; // setting 1rem to 10px
}

body {
    min-height: 100vh;
    display: flex;
    background: $color-white;
    color: $color-blue;
    flex-direction: column;
}

del {
    display: none;
}

ol {
    margin-left: 2.6rem;
}

ol li::marker {
    font-family: $font-mono;
}

ul {
    margin-left: 1.8rem;
}

svg {
    fill: currentColor;
    stroke: currentColor;
    vertical-align: baseline;
}

main svg {
    height: 0.8em;
    width: 0.8em;
    display: inline-block;
    text-transform: none;
}

main svg + svg {
    margin-left: -0.3em;
}
