body {
    font-family: $font-thin;
    font-size: 1.8rem;
    line-height: 1.8;
}

strong {
    font-weight: $weight-bold;
}

em {
    font-style: italic;
}

u {
    text-decoration: underline wavy currentColor;
}

h1, h2, h3 {
    font-family: $font-main;
    font-weight: $weight-normal;
    text-transform: lowercase;
}

sup, sub {
    font-family: sans-serif;
}

a {
    color: inherit;
}