body {
    font-family: $font-thin;
    font-size: 2rem;
    line-height: 1.8;
}

strong {
    font-family: $font-thin;
    font-weight: $weight-bold;
    -webkit-text-stroke: 0.5px $color-blue;
}

em {
    font-style: italic;
}

u {
    text-decoration: underline wavy currentColor;
}

h1, h2, h3 {
    font-family: $font-main;
    text-transform: lowercase;
    line-height: 1;
    margin-bottom: 1rem;
    @include stretchY;

    & svg {
        font-weight: $weight-normal;
    }
}

h1 {
    font-weight: $weight-normal;
    font-size: 8.4rem;
}

h2 {
    font-family: $font-thin;
    font-weight: $weight-bold;
    font-size: 4.2rem;
}

h3 {
    font-family: $font-thin;
    font-weight: $weight-bold;
}

sup, sub {
    font-family: sans-serif;
}

a {
    color: inherit;
}