// COLOR
$color-white: #FFFCF3;
$color-red: #F94F0D;
$color-yellow: #FFFFA9;
$color-green: #04AFA6;
$color-blue: #0D26F9;
$color-pink: #FFD4CC;

// WEIGHTS
$weight-normal: 400;
$weight-bold: 700;

// FONTS
$font-main: sans-serif;
$font-thin: 'Pragati Narrow', sans-serif;
$font-hand: 'Amatic SC', sans-serif;
$font-mono: monospace;