@charset "UTF-8";
@import url("https://use.typekit.net/ysf7eux.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
:root {
  --white: #FFFCF3;
  --red: #F94F0D;
  --yellow: #FFFC92;
  --green: #00C1C6;
  --blue: #0D26F9;
  --pink: #FFE3DE; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  display: flex;
  background: #FFFCF3;
  color: #0D26F9;
  flex-direction: column; }

del {
  display: none; }

ol {
  margin-left: 2.6rem; }

ol li::marker {
  font-family: monospace; }

ul {
  margin-left: 1.8rem; }

table thead tr th code {
  display: none; }

.hide {
  display: none !important; }

.show {
  display: inline-block !important; }

.show-flex {
  display: flex !important; }

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Ultra-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

body {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

u {
  text-decoration: underline wavy currentColor; }

h1, h2, h3 {
  text-transform: lowercase;
  line-height: 1;
  margin-bottom: 1rem; }
  h1 svg, h2 svg, h3 svg {
    font-weight: 400; }

h1 {
  font-weight: 400;
  font-size: 8.4rem; }

h2 {
  font-weight: 700;
  font-size: 4.2rem; }

h3 {
  font-weight: 700; }

a {
  color: inherit; }

.btn-back {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.8rem;
  position: absolute;
  top: 0;
  left: 4rem;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.2s all; }
  .btn-back:hover, .btn-back:focus {
    transform: rotate(-3deg) scale(1.2); }
  .btn-back svg {
    margin-top: -0.5rem;
    height: 4rem;
    width: 4rem; }

@media only screen and (max-width: 41.1rem) {
  .btn-back {
    left: 0;
    position: inherit;
    margin: 4rem auto; } }

main svg {
  height: 0.8em;
  width: 0.8em;
  display: inline-block;
  text-transform: none; }

svg {
  fill: currentColor;
  stroke: currentColor;
  vertical-align: middle; }
  svg.icon-store, svg.icon-lab, svg.icon-cooler-bag, svg.icon-shipping-box, svg.icon-to-go-bag, svg.icon-van {
    height: 15rem;
    width: 20rem;
    stroke-width: 0; }
  svg.icon-v, svg.icon-gf {
    margin: 0 -0.2rem;
    font-size: 120%;
    transform: scale(1.2, 1); }

h1#normalreg {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: scale(1, 1.2);
  font-size: 7.3rem; }
  h1#normalreg svg.icon-reg {
    vertical-align: super;
    font-size: 50%;
    margin-right: -3.9rem; }

header {
  flex-shrink: 0;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 300;
  font-style: normal; }
  header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.8rem 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 4rem 0; }
  header a {
    line-height: 1;
    transition: 0.2s linear; }
    header a:hover svg.icon-normal, header a:focus svg.icon-normal {
      transform: rotate(12deg); }
  header svg.icon-normal, header svg.icon-cone {
    height: 7rem;
    width: 7rem;
    stroke-width: 0;
    transition: 0.2s linear; }
  header div {
    position: relative; }
  header p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -33%);
    color: #FFFCF3;
    line-height: 1;
    letter-spacing: -1.5px; }

main {
  flex-grow: 1;
  width: 1200px;
  max-width: 80%;
  margin: 0 auto;
  padding: 1.8rem 0; }
  main div {
    text-align: center; }

h2 {
  margin: 0;
  padding: 0;
  height: 0; }
  h2#order ~ *, h2#pick-up ~ *, h2#shipping ~ * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 0;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    transition: 0.2s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer; }
    h2#order ~ *:hover, h2#order ~ *:focus, h2#pick-up ~ *:hover, h2#pick-up ~ *:focus, h2#shipping ~ *:hover, h2#shipping ~ *:focus {
      transform: rotate(-2deg) scale(1.2); }
    h2#order ~ * a, h2#pick-up ~ * a, h2#shipping ~ * a {
      text-decoration: none; }
    h2#order ~ * svg, h2#pick-up ~ * svg, h2#shipping ~ * svg {
      margin-bottom: -4rem; }
  h2#pick-up ~ *, h2#shipping ~ * {
    margin-top: -16%; }

main#order {
  display: flex;
  flex-direction: column; }
  main#order div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 0.2s; }
    main#order div h1, main#order div h2 {
      flex: 0 0 100%; }
  main#order div:not(.p-normal) {
    flex: 1 1 auto;
    position: relative; }
  main#order div.p-pickup, main#order div.p-shipping {
    display: none; }

footer {
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50%; }
  footer div {
    text-align: center;
    text-transform: lowercase;
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.8rem 0; }

h2#nav + ul {
  font-size: 5.8rem;
  line-height: 5.8rem;
  list-style-type: none;
  text-align: left;
  margin: 1.8rem 0;
  padding: 0;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 600;
  font-style: normal; }
  h2#nav + ul li {
    position: relative;
    border-bottom: 1.5px solid currentColor;
    padding: 1.5rem 0 1.5rem 0;
    transition: 0.1s; }
    h2#nav + ul li:hover, h2#nav + ul li:focus {
      padding-bottom: calc(1.5rem - 2px);
      border-width: 3px;
      letter-spacing: 1.5px;
      cursor: pointer; }
    h2#nav + ul li a {
      width: 100%;
      text-decoration: none;
      transition: 0.1s; }
      h2#nav + ul li a:focus {
        padding-bottom: calc(1.5rem - 1.5px);
        border-width: 3px;
        letter-spacing: 1.5px; }
      h2#nav + ul li a::after {
        content: url("./svg/arrow-right.svg");
        position: absolute;
        right: 0;
        height: 1;
        width: 6.5rem; }

#index h1#normalreg {
  text-align: left; }

div.p-nav {
  width: 33%; }

@media only screen and (max-width: 76.8rem) {
  div.p-nav {
    width: 50%; } }

@media only screen and (max-width: 41.1rem) {
  div.p-nav {
    width: 100%; } }

h2#carousel + div.embed {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  scroll-behavior: smooth; }
  h2#carousel + div.embed::-webkit-scrollbar {
    width: 1rem; }
  h2#carousel + div.embed::-webkit-scrollbar-track, h2#carousel + div.embed::-webkit-scrollbar-thumb {
    background: #FFFCF3; }
  h2#carousel + div.embed div {
    display: flex; }
    h2#carousel + div.embed div p {
      display: inline-block;
      padding-right: 1.8rem; }
      h2#carousel + div.embed div p:last-child {
        padding-right: 0; }
      h2#carousel + div.embed div p img {
        width: 45rem;
        height: 60rem;
        object-fit: cover; }

@media only screen and (max-width: 41.1rem) {
  h2#carousel + div.embed div {
    flex-direction: column; }
    h2#carousel + div.embed div p {
      padding-right: 0;
      padding-bottom: 0.9rem; }
      h2#carousel + div.embed div p img {
        height: 30rem;
        max-width: 100%; } }

div.embed-internal-carousel + p {
  position: relative;
  text-align: left; }
  div.embed-internal-carousel + p a {
    display: block;
    font-size: 2.9rem;
    line-height: 2.9rem;
    text-decoration: none;
    transition: 0.1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    div.embed-internal-carousel + p a:hover, div.embed-internal-carousel + p a:focus {
      letter-spacing: 1.5px; }
    div.embed-internal-carousel + p a::after {
      content: "⟶";
      position: absolute;
      right: 1.8rem; }

div.p-carousel {
  position: absolute;
  right: 0;
  width: 60%; }

@media only screen and (max-width: 76.8rem) {
  div.p-carousel {
    width: 45%; } }

@media only screen and (max-width: 41.1rem) {
  div.p-carousel {
    position: static;
    width: 100%;
    margin-top: 1.8rem; } }

#index {
  display: flex;
  flex-flow: column wrap;
  width: 1200px;
  max-width: 80%;
  margin: 0 auto;
  padding: 1.8rem 0; }
  #index h1 {
    text-align: left; }

main#icons .p-icons, main#icons .p-logos {
  border: 2px solid #0D26F9;
  margin-top: 4rem;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  main#icons .p-icons h2, main#icons .p-logos h2 {
    width: 100%;
    margin-bottom: 4rem; }
  main#icons .p-icons p, main#icons .p-logos p {
    width: 33%;
    padding: 1rem; }
  main#icons .p-icons svg, main#icons .p-logos svg {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: middle; }

main#icons .p-icons svg {
  width: 9rem !important;
  height: 9rem !important;
  transform: scale(1, 1); }

main#icons .p-logos svg {
  width: 100% !important;
  height: 100% !important; }

.theme-blue {
  background: #0D26F9;
  color: #FFE3DE; }
  .theme-blue header p {
    color: #0D26F9; }
  .theme-blue .btn-back {
    color: #0D26F9;
    background: #FFE3DE; }

.theme-pink {
  background: #FFE3DE;
  color: #F94F0D; }
  .theme-pink header p {
    color: #FFE3DE; }
  .theme-pink .btn-back {
    color: #FFE3DE;
    background: #F94F0D; }

.theme-white {
  background: #FFFCF3;
  color: #0D26F9; }
  .theme-white header p {
    color: #FFFCF3; }
  .theme-white .btn-back {
    color: #FFFCF3;
    background: #0D26F9; }

.theme-yellow {
  background: #FFFC92;
  color: #00C1C6; }
  .theme-yellow header p {
    color: #FFFC92; }
  .theme-yellow .btn-back {
    color: #FFFC92;
    background: #00C1C6; }
