@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  display: flex;
  background: #FFFCF3;
  color: #0D26F9;
  flex-direction: column; }

del {
  display: none; }

ol {
  margin-left: 2.6rem; }

ol li::marker {
  font-family: monospace; }

ul {
  margin-left: 1.8rem; }

svg {
  fill: currentColor;
  stroke: currentColor;
  vertical-align: baseline; }

main svg {
  height: 0.8em;
  width: 0.8em;
  display: inline-block;
  text-transform: none; }

main svg + svg {
  margin-left: -0.3em; }

body {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

u {
  text-decoration: underline wavy currentColor; }

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: 400;
  text-transform: lowercase; }

sup, sub {
  font-family: sans-serif; }

a {
  color: inherit; }

div#carousel {
  position: absolute;
  right: 0;
  width: 60%; }
  div#carousel div.embed-internal-carousel {
    margin: 0;
    padding: 0;
    overflow-x: scroll; }
    div#carousel div.embed-internal-carousel::-webkit-scrollbar {
      width: 1rem; }
    div#carousel div.embed-internal-carousel::-webkit-scrollbar-track, div#carousel div.embed-internal-carousel::-webkit-scrollbar-thumb {
      background: #FFFCF3; }
    div#carousel div.embed-internal-carousel div {
      display: flex; }
      div#carousel div.embed-internal-carousel div p {
        display: inline-block; }
        div#carousel div.embed-internal-carousel div p:not(:last-child) {
          padding-right: 1.8rem; }
        div#carousel div.embed-internal-carousel div p img {
          width: 45rem;
          height: 60rem;
          object-fit: cover; }
  div#carousel a {
    font-family: "Pragati Narrow", sans-serif;
    font-size: 2.9rem;
    line-height: 2.9rem;
    text-decoration: none;
    transition: 0.1s; }
    div#carousel a:hover, div#carousel a:focus {
      letter-spacing: 1.5px; }

@media only screen and (max-width: 76.8rem) {
  div#carousel {
    width: 45%; } }

@media only screen and (max-width: 41.1rem) {
  div#carousel {
    position: static;
    width: 100%;
    margin-top: 1.8rem; }
    div#carousel div.embed-internal-carousel div {
      flex-direction: column; } }

header {
  flex-shrink: 0; }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 92%;
    margin: 0 auto;
    padding: 1.8rem 0; }
  header a {
    line-height: 1;
    transition: 0.2s linear; }
    header a:hover svg.icon-normal, header a:focus svg.icon-normal {
      transform: rotate(30deg); }
  header svg.icon-normal {
    height: 7rem;
    width: 7rem;
    stroke-width: 0;
    transition: 0.2s linear; }

main {
  flex-grow: 1; }

footer {
  flex-shrink: 0; }
  footer div {
    text-align: center;
    text-transform: lowercase;
    width: 1200px;
    max-width: 92%;
    margin: 0 auto;
    padding: 1.8rem 0; }

h1#normalreg {
  display: inline-block;
  font-size: 8.4rem;
  transform: scale(1, 1.2);
  position: relative; }
  h1#normalreg svg {
    vertical-align: super;
    font-size: 50%; }

div#nav {
  width: 33%;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 5.8rem;
  line-height: 5.8rem; }
  div#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    div#nav ul li {
      position: relative;
      border-bottom: 1.5px solid currentColor;
      padding: 1.5rem 0 1.5rem 0;
      transition: 0.1s; }
      div#nav ul li:hover, div#nav ul li:focus {
        padding-bottom: calc(1.5rem - 1.5px);
        border-width: 3px;
        letter-spacing: 1.5px;
        cursor: pointer; }
      div#nav ul li a {
        width: 100%;
        text-decoration: none;
        transition: 0.1s; }
        div#nav ul li a:focus {
          padding-bottom: calc(1.5rem - 1.5px);
          border-width: 3px;
          letter-spacing: 1.5px; }
        div#nav ul li a::after {
          content: "⟶";
          position: absolute;
          right: 0; }

.flex {
  display: flex;
  flex-flow: column wrap;
  width: 1200px;
  max-width: 92%;
  margin: 0 auto;
  padding: 1.8rem 0; }

@media only screen and (max-width: 76.8rem) {
  div#nav {
    width: 50%; } }

@media only screen and (max-width: 41.1rem) {
  div#nav {
    width: 100%; } }
