header {
    flex-shrink: 0;
    @include font-acumin-thin;

    & section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include container;
        @include bfv;
        padding: 4rem 0;
    }

    & a {
        line-height: 1;
        transition: 0.2s linear;

        &:hover svg.icon-normal, &:focus svg.icon-normal {
            transform: rotate(12deg);
        }
    }

    & svg {
        &.icon-normal, &.icon-cone {
            height: 7rem;
            width: 7rem;
            stroke-width: 0;
            transition: 0.2s linear;
        }
    }

    & div {
        position: relative;
        // border: 2px solid red;
    }

    & p {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -33%);
        color: $color-white;
        line-height: 1;
        letter-spacing: -1.5px;
    }
}