main#icons {
    & .p-icons, & .p-logos {
        border: 2px solid $color-blue;
        margin-top: 4rem;
        padding: 4rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    
        & h2 {
            width: 100%;
            margin-bottom: 4rem;
        }
    
        & svg {
            padding: 1rem;
            fill: currentColor;
            stroke: currentColor;
            stroke-width: 0;
            vertical-align: middle;
        }
    }

    & .p-icons {
        & svg {
            width: 9rem !important;
            height: 9rem !important;
            transform: scale(1, 1);
        }
    }
    
    & .p-logos {
        & svg {
            width: 25rem !important;
            height: 25rem !important;
        }
    }
}