h2 {
    &#soft-serve, &#drinks-drinks-drinks, &#pints, &#bars, &#composed-cones, &#pizza, &#choco-taco, &#ice-cream-cake { // STORE HEADINGS
        // color: red;
        & ~ h3 {
            // color: red;
            margin-top: 2rem;
            margin-bottom: 0.2rem;
        }
        & ~ p {
            @include font-poppins;
            font-size: 60%;
            line-height: 1.4;
            margin-top: 0.4rem;
            & strong {
                @include font-poppins-black;
                font-size: 120%;
            }
            & a {
                @include font-acumin-semibold;
                font-size: 2rem;
                text-decoration: none;
                cursor: not-allowed;
            }
        }
    }
    &#soft-serve { // soft-serve heading
        & ~ h3 {
            margin: 0.2rem 0;
        }
    }
}

.embed-internal-storemenus {
    // background: yellow;
    & div {
        & h3 {
            margin-top: 2rem;
            margin-bottom: 0.2rem;
        }
        & p {
            @include font-poppins;
            font-size: 60%;
            line-height: 1.4;
            margin-top: 0.4rem;
            & strong {
                @include font-poppins-black;
                font-size: 120%;
            }
            & a {
                @include font-acumin-semibold;
                font-size: 2rem;
                text-decoration: none;
                cursor: not-allowed;
            }
        }
    }
    
}

// AFTER CLASSES AND IDS ARE ADDED
.menu {
    // border: 2px solid red;
    margin-top: 4rem;
    padding: 2rem 0;

    &-filled {
        & > * {
            padding-left: 33%;
            padding-right: 33%;
        }
    } 

    &-carousel {
        // border: 2px solid blue;
        padding: 0.5rem 0 2rem;
    }
}

.p-softserve {
    // border: 20px solid gold;
    & .btn {
        &-rect {
            margin: 2rem 0;
        }
    }
}


@media only screen and (max-width: 76.8rem) {
    .menu {
        &-filled {
            & > * {
                padding-left: 25%;
                padding-right: 25%;
            }
        }
    }
}


@media only screen and (max-width: 41.1rem) {
    .menu {
        &-filled {
            & > * {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}


// h1#normalreg + p {
//     // color: red;
//     margin-bottom: 1.8rem;
// }

// #store, #lab {
//     text-align: center;

//     & > * {
//         // width: 50%;
//         min-width: 28rem;
//         margin: 0 auto;
//     }
    
//     & div {
//         // padding: 1.8rem 0;
//         // margin: 1.8rem 0;

//         & h3 {
//             margin-top: 2rem;
//         }

//         &[class^="p-"] {
//             margin: 4.6rem 0;
//             padding: 1.8rem 0;

//             & p {
//                 line-height: 1.2;
//                 width: 50%;
//                 min-width: 32rem;
//                 margin: 0 auto;
//             }

//             & .btn {
//                 line-height: 1.8;
//             }
//         }

//         &.filled {
//             border: 1px solid $color-blue;
//             background: $color-blue;
//             color: $color-white;
//         }

//         &.outline {
//             border: 1px solid currentColor;

//             & h2 {
//                 margin-bottom: 1.5rem;
//                 width: 100%;
                
//                 & + table {
//                     border-bottom: 1px solid currentColor;
//                     width: 100%;
//                 }
//             }

//             & .btn {
//                 background-color: $color-blue;
//                 color: $color-white;
//             }
//         }
//     }

//     & strong {
//         font-size: 120%;
//     }
// }