.theme-blue {
    background: $color-blue;
    color: $color-pink;

    & header p {
        color: $color-blue;
    }

    & .btn {
        &-rect {
            color: $color-blue;
            background: $color-pink;
        }
        &-back {
            color: $color-blue;
            background: $color-pink;
        }
    }
}