.theme-yellow {
    background: $color-yellow;
    color: $color-green;

    input {
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 5rem $color-yellow inset;
            -webkit-text-fill-color: $color-green;
        }
    }

    & .header-cart {
        background: $color-yellow;

        &-text {
            color: $color-green;
        }
    }

    & .btn {
        &-back, &-rect {
            color: $color-yellow !important;
            background: $color-green !important;
        }
    }

    & .customize {
        &::-webkit-scrollbar-thumb {
            background: $color-green;
        }
        &-close {
            background: $color-yellow;
        }
        &-table-body-radio, &-table-body-checkbox {
            background: $color-green;
            color: $color-yellow; 
        
            &-container {
                background: $color-yellow;
                color: $color-green;
            }
        }
    }

    & #back-to-top {
        background: $color-yellow;
    }
}

@keyframes yellow-error-blink {
    0% { background: $color-yellow; }
   50% { background: $color-green; }
   99% { background: $color-yellow; }
}